body {
    background-color: #8BC34A;
}
div#content {
    border: 1px solid #d2d2d2;
    font-family: 'Rajdhani', sans-serif;
    top: 20%;
    left: 25%;
    width: 30%;
    padding: 12px;
    /* text-align: center; */
}
