div#content {
    top: 21%;
    left: 15%;
    width: 70%;
    text-align: center;
}
div#content h1 {
    font-family: 'Rajdhani', sans-serif;
}
div#content h4 {
    font-family: 'Rajdhani', sans-serif;
}
div#content a {
    padding: 6px;
}
