div#content {
    top: 21%;
    left: 15%;
    width: 70%;
    text-align: center;
}
div#content h1 {
    font-size: 100px;
}
div#content h4 {
    font-size: 40px;
}
div#content a {
    padding: 6px;
}
