body {
    color: #333333;
    background-color: #ffc33b;
}
div#content {
    border: 1px solid #333333;
    width: 40%;
    left: 28%;
    top: 80px;
    padding: 20px;
}
div#content p.date {
    text-align: right;
}
