body {
    background-color: #ffffff;
    color: #000000;
}
div#content {
	font-family: 'Rajdhani', sans-serif;    
    border: 1px solid #000000;
    width: 60%;
    left: 20%;
    padding: 20px;
    top: 40px;
    margin-bottom: 20px;
}
div#content p.date,
div#content p.author {
    text-align: right;
}
div#content div {
    margin-top: 32px;
}
