body {
    background-color: #009688;
}
div#content {
    border: 1px solid #d2d2d2;
    font-family: 'Rajdhani', sans-serif;
    width: 60%;
    left: 20%;
}
div#content p.date {
    text-align: right;
}
