body {
    background-color: #60838b;
}
div#content {
    border: 1px solid #d2d2d2;
    font-family: 'Rajdhani', sans-serif;
    width: 50%;
    left: 25%;
    top: 80px;
    padding: 20px;
}
div#content p.date {
    text-align: right;
}
