body {
	background-color: #F44336;
	color: #dedede;
}
div#content {
	font-family: 'Rajdhani', sans-serif;
    border: 1px solid #dedede;
    padding: 20px;
    width: 70%;
    left: 14%;
    top: 40px;
    margin-bottom: 40px;
}
div#content h1 {
    font-size: 80px;
    margin-top: 20px;
    margin-bottom: 10px;
}
hr {
    border: none;
    height: 1px;
    background-color: black;
}
div#content h4 {
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 0px
}
div#content p {
    font-size: 20px;
    margin-left: 40px;
}
div#content p.title {
    margin-bottom: 0px;
    font-size: 28px;
}
div#content p.summery {
    margin-top: 2px;
    margin-bottom: 0px;
}
div#content p.desc {
    margin-top: 8px;
}
div#skills p,
div#ref p,
div#info p {
    margin-bottom: 0px;
    margin-top: 6px;
}
div#content p.first {
    margin-top: 10px;
}
div#content p:last-child {
    margin-bottom: 20px;
}
div#contact {
    margin-top: 30px;
}
div#contact h4 {
    display: inline;
	margin-right: 160px;
}
div#contact p.addr {
    display: inline-flex;
}
div#contact p.info {
    display: inline-flex;
    text-align: right;
    float: right;
}
