@font-face {
	font-family: 'open-sans-light';
	src:url('fonts/OpenSans-Light.eot?-q29doj');
	src:url('fonts/OpenSans-Light.eot?#iefix-q29doj') format('embedded-opentype'),
		url('fonts/OpenSans-Light.ttf?-q29doj') format('truetype'),
		url('fonts/OpenSans-Light.woff?-q29doj') format('woff'),
		url('fonts/OpenSans-Light.svg?-q29doj#open-sans-light') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
    font-family: "open-sans-light";
}
div#content {
    width: 80%;
    left: 10%;
}
div#content h1 {
    font-size: 80px;
    margin-top: 20px;
    margin-bottom: 10px;
}
hr {
    border: none;
    height: 2px;
    background-color: black;
}
div#content h4 {
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 0px
}
div#content p {
    font-size: 20px;
    margin-left: 40px;
}
div#content p.title {
    margin-bottom: 0px;
    font-size: 28px;
}
div#content p.summery {
    margin-top: 2px;
    margin-bottom: 0px;
}
div#content p.desc {
    margin-top: 8px;
}
div#skills p,
div#ref p {
    margin-bottom: 0px;
    margin-top: 6px;
}
div#content p.first {
    margin-top: 10px;
}
div#content p:last-child {
    margin-bottom: 20px;
}
div#contact {
    margin-top: 30px;
}
div#contact h4 {
    display: inline;
	margin-right: 160px;
}
div#contact p.addr {
    display: inline-flex;
}
div#contact p.info {
    display: inline-flex;
    text-align: right;
    float: right;
}
